<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certifications/Workshops/Scholarships</title>
    <link rel="stylesheet" href="/css/resp.css">
</head>
<body>
    <div class="list">
        <h2>Certifications/Workshops</h2>
        <br>
        <ul>
            <li><span>Nvidia Deep Learning Workshop, IIT Bombaysfdssfdsfsfsfsfddddddddddddddd</span></li>
            <li><span>Web Developer Bootcamp (Udemy)sdfsfsfsffffffffsssssddddddddddddddddddd</span></li>
            <li><span>C++ and Data Structures (APTECH)ddddddddddddddddddddddddddddd</span></li>
            <li><span>Competitive programming (PREPBYTES)dddddddddddddddddddddddddddddd</span></li>
            <li><span>AWS Machine Learning Foundation Course (Udacity)dddddddddddddddddddddddddddddddddddddd</span></li>
            <li><span>Intel Edge AI Scholar (Udacity)dddddddddddddddddddddddddddddddddddddddddddddd</span></li>
            
        </ul>
    </div>
</body>
</html>