<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Info.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  </head>
  <body>
    <div id="menu-bar">
        <div id="menu" onclick="onClickMenu()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <ul class="nav" id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/family">Family</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/grades">Grades</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/technical">Technical</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="menu-bg" id="menu-bg"></div>

    <div class="contact-info">
      <div class="card">
        <i class="card-icon far fa-envelope"></i>
        <p>anuj.jhamb23@gmail.com</p>
      </div>

      <div class="card">
        <i class="card-icon fas fa-phone"></i>
        <p>+919530094900</p>
      </div>

      <div class="card">
        <i class="card-icon fas fa-map-marker-alt"></i>
        <p>Shirpur, India</p>
      </div>
    </div>
    <script>
        function onClickMenu(){
            document.getElementById("menu").classList.toggle("change");
            document.getElementById("nav").classList.toggle("change");
            document.getElementById("menu-bg").classList.toggle("change-bg");
        }
    </script>
  </body>
</html>
