<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <title>Contact Info</title>
</head>
<body>
    <div id="menu-bar">
        <div id="menu" onclick="onClickMenu()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <ul class="nav" id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/family">Family</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/grades">Grades</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/technical">Technical</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="menu-bg" id="menu-bg"></div>
    <div class="body">
        <div class="container">
            <div class="box">
                <div class="icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h4>Address</h4>
                    <h3>Shirpur, 425405, India</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <div class="icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <h4>Mobile</h4>
                    <h3>+91 9530094900</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <div class="icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <h4>Email</h4>
                    <h3>anuj.jhamb23@gmail.com</h3>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/particle.js"></script>
    <script>
      function onClickMenu(){
        document.getElementById("menu").classList.toggle("change");
        document.getElementById("nav").classList.toggle("change");
        document.getElementById("menu-bg").classList.toggle("change-bg");
      }
    </script>
</body>
</html>