<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/gallery.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="menu-bar" onclick=" onClickMenu()">
        <div id="menu">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <ul class="nav" id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/family">Family</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/grades">Grades</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/technical">Technical</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="menu-bg" id="menu-bg"></div>
    <div class="box">
        <span style="--i:1;"><img src="/images/img1.jpg"></span>
        <span style="--i:2;"><img src="/images/img2.jpg"></span>
        <span style="--i:3;"><img src="/images/img3.jpg"></span>
        <span style="--i:4;"><img src="/images/img4.jpg"></span>
        <span style="--i:5;"><img src="/images/img5.jpg"></span>
        <span style="--i:6;"><img src="/images/img6.jpg"></span>
        <span style="--i:7;"><img src="/images/img7.jpg"></span>
        <span style="--i:8;"><img src="/images/img8.jpg"></span>
    </div>
    <script>
        function onClickMenu(){
            document.getElementById("menu").classList.toggle("change");
            document.getElementById("nav").classList.toggle("change");
            document.getElementById("menu-bg").classList.toggle("change-bg");
            hide = false;
        }
        // remove all .active classes when clicked anywhere
        hide = true;
        $('body').on("click", function () {
            if (hide)
            {
                $('#menu').removeClass('change');
                $('#nav').removeClass('change');
                $('#menu-bg').removeClass('change-bg');
            } 
            hide = true;
        });
    </script>
</body>
</html>