<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home2.css">
</head>
<body>
    <section class="banner" id="sec">
        <header>
            <a href="/" class="logo">ANUJ</a>
            <div id="toggle" onclick="toggle()"></div>
        </header>
        <div class="content">
            <h2><div style="display:inline"></div><br>I'm <span>Anuj Jhamb</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem recusandae magnam beatae dolor obcaecati velit non dolore incidunt mollitia cupiditate optio neque, quasi error pariatur nostrum provident itaque ex unde.</p>
            <a href="#">Know More</a>
        </div>
        <ul class="sci">
            <li><a href="https://www.facebook.com/anuj.jhamb/"><img src="https://port-img.s3.amazonaws.com/facebook.png"></a></li>
            <li><a href="https://twitter.com/jhamb23"><img src="https://port-img.s3.amazonaws.com/twitter.png"></a></li>
            <li><a href="https://www.linkedin.com/in/anuj-jhamb/"><img src="https://port-img.s3.amazonaws.com/linkedin.png"></a></li>
            <li><a href="https://github.com/nuje98"><img src="https://port-img.s3.amazonaws.com/github.png"></a></li>
            <li><a href="https://www.instagram.com/anuj_jhamb/"><img src="https://port-img.s3.amazonaws.com/instagram.png"></a></li>
    </section>
    <div id="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/family">Family</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/grades">Grades</a></li>
            <li><a href="/technical">Technical</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <script>
        function toggle(){
            var sec = document.getElementById('sec');
            var nav = document.getElementById('navigation');
            sec.classList.toggle('active');
            nav.classList.toggle('active');
        }
    </script>   
</body>
</html>