<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/project.css">
</head>
<body>
    <div class="cardSlider">
        <div class="cardContainer">
            <div class="cardSingle">
                <article>
                    <h1>Arduino</h1>
                    <p>Developed hand gesture enabled bot using Accelerometer, Smart dustbin using Ultrasonic sensor, Line follower robot using IR sensor, Bluetooth enabled car using bluetooth module.</p>
                </article>
            </div>
            <div class="cardSingle">
                <article>
                    <h1>KitaabX</h1>
                    <p>Designed a web portal using HTML, CSS, Javascript, MongoDB, NodeJS, ExpressJS that serves handwritten notes of different subjects. Students can create their own accounts and have access to the content.</p>
                </article>
            </div>
            <div class="cardSingle">
                <article>
                    <h1>Pizza HUb</h1>
                    <p>Developed an Android application which can be used for online pizza ordering service. Implemented the authentication system using Google Firebase.</p>
                </article>
            </div>
            <div class="cardSingle">
                <article>
                    <h1>Weather App</h1>
                    <p>Developed a weather application using Django, HTML, CSS which gives the real time weather information by using API of openweathermap.com</p>
                </article>
            </div>
            <div class="cardSingle">
                <article>
                    <h1>Stone Papper Scissors</h1>
                    <p>Developed stone-paper-scissors game using JavaScript</p></a>
                </article>
            </div>
            <div class="cardSingle">
                <article>
                    <h1>AquaMart</h1>
                    <p>It is an Ecommerce website (B2C) which deals with selling products related to fishery. It is a platform for different vendors to sell their products directly to customers.</p>
                </article>
            </div>
            <div class="cardSingle">
                <article>
                    <h1>Portfolio</h1>
                    <p>Developed an online portfolio/resume  application which you're viewing right now using HTML, CSS, Bootstrap, JavaScript, jQuery, NodeJS, ExpressJS</p>
                </article>
            </div>
            <div class="cardSingle">
                <article>
                    <h1>Alexa Game Skill</h1>
                    <p>It is a riddle game skill. Multiple users can play it on any Alexa enabled devices. There is a weekly leaderboard setup using GameOn SDK as well. </p>
                </article>
            </div>
            <div class="cardSingle">
                <article>
                    <h1>Exercise Tracker</h1>
                    <p>Build an Exercise tracker based on MERN i.e. MOngoDB, Express, ReactJS, and NodeJS</p>
                </article>
            </div>
            <div class="cardSingle">
                <article>
                    <h1>Particle Effect</h1>
                    <p>Build a simple web page using p5.js library.</p>
                </article>
            </div>
        </div>
        <div class="cardNavbar">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.cardNavbar ul li:nth-child(1)').on('mouseover',function(){
                $('.cardContainer .cardSingle').removeClass('active');
                $('.cardContainer .cardSingle:nth-child(1)').addClass('active');
            })
            $('.cardNavbar ul li:nth-child(2)').on('mouseover',function(){
                $('.cardContainer .cardSingle').removeClass('active');
                $('.cardContainer .cardSingle:nth-child(2)').addClass('active');
            })
            $('.cardNavbar ul li:nth-child(3)').on('mouseover',function(){
                $('.cardContainer .cardSingle').removeClass('active');
                $('.cardContainer .cardSingle:nth-child(3)').addClass('active');
            })
            $('.cardNavbar ul li:nth-child(4)').on('mouseover',function(){
                $('.cardContainer .cardSingle').removeClass('active');
                $('.cardContainer .cardSingle:nth-child(4)').addClass('active');
            })
            $('.cardNavbar ul li:nth-child(5)').on('mouseover',function(){
                $('.cardContainer .cardSingle').removeClass('active');
                $('.cardContainer .cardSingle:nth-child(5)').addClass('active');
            })
            $('.cardNavbar ul li:nth-child(6)').on('mouseover',function(){
                $('.cardContainer .cardSingle').removeClass('active');
                $('.cardContainer .cardSingle:nth-child(6)').addClass('active');
            })
            $('.cardNavbar ul li:nth-child(7)').on('mouseover',function(){
                $('.cardContainer .cardSingle').removeClass('active');
                $('.cardContainer .cardSingle:nth-child(7)').addClass('active');
            })
            $('.cardNavbar ul li:nth-child(8)').on('mouseover',function(){
                $('.cardContainer .cardSingle').removeClass('active');
                $('.cardContainer .cardSingle:nth-child(8)').addClass('active');
            })
            $('.cardNavbar ul li:nth-child(9)').on('mouseover',function(){
                $('.cardContainer .cardSingle').removeClass('active');
                $('.cardContainer .cardSingle:nth-child(9)').addClass('active');
            })
            $('.cardNavbar ul li:nth-child(10)').on('mouseover',function(){
                $('.cardContainer .cardSingle').removeClass('active');
                $('.cardContainer .cardSingle:nth-child(10)').addClass('active');
            })
        })
    </script>
</body>
</html>