<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/proj.css">
</head>
<body>
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">Recent <span>Projects</span></h1>
            </div>
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 1</h1>
                        <h2>KitaabX</h2>
                        <p>Designed a web portal using HTML, CSS, Javascript, MongoDB, NodeJS, ExpressJS that serves handwritten notes of different subjects. Students can create their own accounts and have access to the content.</p>
                        <div class="containerr">
                            <a class="a" href="https://github.com/nuje98/KitaabX" target="_blank">Github</a>
                            <a class="a" href="http://kitaabxbeta.herokuapp.com" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="/kitaab.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 2</h1>
                        <h2>Pizza Hub</h2>
                        <p>Developed an Android application which can be used for online pizza ordering service. Implemented the authentication system using Google Firebase.</p>
                        <div class="containerr">
                            <a class="a" href="https://github.com/nuje98/Pizza-Hub" target="_blank">Github</a>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="/img-1.png" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 3</h1>
                        <h2>Weather App</h2>
                        <p>Developed a weather application using Django, HTML, CSS which gives the real time weather information by using API of openweathermap.com</p>
                        <div class="containerr">
                            <a class="a" href="https://github.com/nuje98/Weather-App" target="_blank">Github</a>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="/weather.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 4</h1>
                        <h2>Stone Papper Scissors</h2>
                        <p>Developed stone-paper-scissors game using JavaScript</p>
                        <div class="containerr">
                            <a class="a" href="https://github.com/nuje98/stone-paper-scissors" target="_blank">Github</a>
                            <a class="a" href="https://stone-paper-scissors.herokuapp.com" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="/stone.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 5</h1>
                        <h2>AquaMart</h2>
                        <p>It is an Ecommerce website (B2C) which deals with selling products related to fishery. It is a platform for different vendors to sell their products directly to customers.</p>
                        <div class="containerr">
                            <a class="a" href="https://github.com/nuje98/aquamart" target="_blank">Github</a>
                            <a class="a" href="https://aquamart.herokuapp.com" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="/aqua.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 6</h1>
                        <h2>Portfolio</h2>
                        <p>Developed an online portfolio/resume  application which you're viewing right now using HTML, CSS, Bootstrap, JavaScript, jQuery, NodeJS, ExpressJS</p>
                        <div class="containerr">
                            <a class="a" href="https://github.com/nuje98/portfolio-website" target="_blank">Github</a>
                            <a class="a" href="https://anujjhamb.herokuapp.com" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="/port.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 7</h1>
                        <h2>Alexa Game Skill</h2>
                        <p>It is a riddle game skill. Multiple users can play it on any Alexa enabled devices. There is a weekly leaderboard setup using GameOn SDK as well.</p>
                        <div class="containerr">
                            <a class="a" href="https://github.com/nuje98/Alexa-Riddle-Skill" target="_blank">Github</a>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="/img-1.png" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 8</h1>
                        <h2>Exercise Tracker</h2>
                        <p>Build an Exercise tracker based on MERN i.e. MOngoDB, Express, ReactJS, and NodeJS</p>
                        <div class="containerr">
                            <a class="a" href="https://github.com/nuje98/MERN-Exercise-Tracker" target="_blank">Github</a>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="/img-1.png" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 9</h1>
                        <h2>Particle Effect</h2>
                        <p>Build a simple web page using p5.js library.</p>
                        <div class="containerr">
                            <a class="a" href="https://github.com/nuje98/particles-effects" target="_blank">Github</a>
                            <a class="a" href="https://particles-effects.herokuapp.com/" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="/particle.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 10</h1>
                        <h2>Arduino</h2>
                        <p>Developed hand gesture enabled bot using Accelerometer, Smart dustbin using Ultrasonic sensor, Line follower robot using IR sensor, Bluetooth enabled car using bluetooth module.</p>
                    </div>
                    <div class="project-img">
                        <img src="/img-1.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
      </section>
</body>
</html>