<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position of Responsibility</title>
    <link rel="stylesheet" href="/css/resp.css">
</head>
<body>
    <div class="list">
        <h2>Position of Responsibility</h2>
        <br>
        <ul>
            <li><span>Represented district in State Level Badminton Tournament</span></li>
            <li><span>Led a team of 4 during two months of Internship at Jaljeevika</span></li>
            <li><span>Placement Coordinator from Department of Computer Science & Engineering</span></li>
            <li><span>Represented college in IIT Bombay's Annual Technical festival "Techfest"</span></li>
            <li><span>Represented college in IIT Indore's Annual Techno-Cult festival "Fluxus"</span></li>
            <li><span>Represented college in IIT Bombay's Annual Cultural festival "Mood Indigo"</span></li>
            
        </ul>
    </div>
</body>
</html>