<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position of Responsibility</title>
    <link rel="stylesheet" href="/css/resp.css">
</head>
<body>
    <div id="menu-bar">
        <div id="menu" onclick="onClickMenu()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <ul class="nav" id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/family">Family</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/grades">Grades</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/technical">Technical</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="menu-bg" id="menu-bg"></div>

    <div class="list">
        <h2>Position of Responsibility</h2>
        <br>
        <ul class="ul">
            <li class="li"><span>Represented district in State Level Badminton Tournament</span></li>
            <li class="li"><span>Led a team of 4 during two months of Internship at Jaljeevika</span></li>
            <li class="li"><span>Placement Coordinator from Department of Computer Science & Engineering</span></li>
            <li class="li"><span>Represented college in IIT Bombay's Annual Technical festival "Techfest"</span></li>
            <li class="li"><span>Represented college in IIT Indore's Annual Techno-Cult festival "Fluxus"</span></li>
            <li class="li"><span>Represented college in IIT Bombay's Annual Cultural festival "Mood Indigo"</span></li>
            
        </ul>
    </div>
    <script>
        function onClickMenu(){
            document.getElementById("menu").classList.toggle("change");
            document.getElementById("nav").classList.toggle("change");
            document.getElementById("menu-bg").classList.toggle("change-bg");
        }
    </script>
</body>
</html>