<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/secondary.css">
    <title>Secondary Education</title>
</head>
<body>
    <br>
    <h2>Class 10th Gradesheet</h2>
    <br>
    <table>
        <tr>
            <th>Index</th>
            <th>Subject</th>
            <th>Obtained Marks</th>
            <th>Maximum Marks</th>
        </tr>
        <tr>
            <td>1</td>
            <td>English</td>
            <td>98</td>
            <td>100</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Hindi</td>
            <td>92</td>
            <td>100</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Science</td>
            <td>96</td>
            <td>100</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Social Science</td>
            <td>77</td>
            <td>100</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Mathematics</td>
            <td>100</td>
            <td>100</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Sanskrit</td>
            <td>93</td>
            <td>100</td>
        </tr>
        <tr>
            <td colspan="2">Total Marks</td>
            <td>556</td>
            <td>600</td>
        </tr>
        <tr>
            <td colspan="2">Percentage</td>
            <td>92.67</td>
            <td>100</td>
        </tr>
    </table>
</body>
</html>