<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/table.css">
    <title>Sem-1</title>
</head>
<body>
    <table>
        <tr>
            <th>Index</th>
            <th>Courses</th>
            <th>Credits</th>
            <th>Grades</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Data Structures</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Database Management System</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Digital Logic Design</td>
            <td>4</td>
            <td>A-</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Discrete Structures</td>
            <td>4</td>
            <td>A-</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Engineering Mathematics-III</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Numerical Techniques</td>
            <td>3</td>
            <td>A</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Programming Laboratory-I</td>
            <td>2</td>
            <td>A</td>
        </tr>
        <tr>
            <td colspan="2">GPA</td>
            <td colspan="2">3.79</td>
        </tr>
        <tr>
            <td colspan="2">CGPA</td>
            <td colspan="2">3.61</td>
        </tr>
    </table>
</body>
</html>