<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/table.css">
    <title>Sem-5</title>
</head>
<body>
    <h2> SEM-VI Gradesheet</h2>
    <table>
        <tr>
            <th>Index</th>
            <th>Courses</th>
            <th>Credits</th>
            <th>Grades</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Programming For Analytics</td>
            <td>3</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Research Methodology</td>
            <td>3</td>
            <td>A-</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Software Engineering</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Computer Graphics</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Microprocessor & Microcontroller</td>
            <td>4</td>
            <td>A-</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Digital Signal Processing</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Design & Analysis Of Algorithms</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td colspan="2">GPA</td>
            <td colspan="2">3.87</td>
        </tr>
        <tr>
            <td colspan="2">CGPA</td>
            <td colspan="2">3.70</td>
        </tr>
    </table>
</body>
</html>