<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/table.css">
    <title>Sem-6</title>
</head>
<body>
    <h2> SEM-VI Gradesheet</h2>
    <table>
        <tr>
            <th>Index</th>
            <th>Courses</th>
            <th>Credits</th>
            <th>Grades</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Business Visualization</td>
            <td>2</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Programming Laboratory-III</td>
            <td>2</td>
            <td>A</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Object Oriented Software Engineering</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Image Processing</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Human Computer Interface</td>
            <td>4</td>
            <td>A</td>
        </tr>
        <tr>
            <td>6</td>
            <td>System Programming</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Fundamentals of Web Technology</td>
            <td>4</td>
            <td>A</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Industrial Economics and Management</td>
            <td>3</td>
            <td>A-</td>
        </tr>
        <tr>
            <td colspan="2">GPA</td>
            <td colspan="2">3.85</td>
        </tr>
        <tr>
            <td colspan="2">CGPA</td>
            <td colspan="2">3.73</td>
        </tr>
    </table>
</body>
</html>