<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/secondary.css">
    <title>Senior Secondary Education</title>
</head>
<body>
    <br>
    <h2>Class 12th Gradesheet</h2>
    <br>
    <table>
        <tr>
            <th>Index</th>
            <th>Subject</th>
            <th>Obtained Marks</th>
            <th>Maximum Marks</th>
        </tr>
        <tr>
            <td>1</td>
            <td>English</td>
            <td>80</td>
            <td>100</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Hindi</td>
            <td>76</td>
            <td>100</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Physics</td>
            <td>79</td>
            <td>100</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Chemistry</td>
            <td>77</td>
            <td>100</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Mathematics</td>
            <td>83</td>
            <td>100</td>
        </tr>
        <tr>
            <td colspan="2">Total Marks</td>
            <td>395</td>
            <td>500</td>
        </tr>
        <tr>
            <td colspan="2">Percentage</td>
            <td>79</td>
            <td>100</td>
        </tr>
    </table>
</body>
</html>