<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="/css/skills.css">
</head>
<body>
    <ul>
        <li data-text="Database"><a href="/skills/db">Database</a></li>
        <br>
        <li data-text="Languages"><a href="/skills/lang">Languages</a></li>
        <br>
        <li data-text="Analytics"><a href="/skills/anal">Analytics</a></li>
        <br>
        <li data-text="Miscellaneous"><a href="/skills/misc">Miscellaneous</a></li>
        <br>
        <li data-text="Softwares (IDEs)"><a href="/skills/soft">Softwares (IDEs)</a></li>
        <br>
        <li data-text="Web Development"><a href="/skills/web">Web Development</a></li>
        <br>
        <li data-text="Operating System"><a href="/skills/os">Operating System</a></li> 
    </ul>
</body>
</html>