<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/language.css">
    <title>Softwares</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!--Hamburger Starts-->
    <div id="menu-bar">
        <div id="menu" onclick="onClickMenu()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <ul class="nav" id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/family">Family</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/grades">Grades</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/technical">Technical</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="menu-bg" id="menu-bg"></div>
    <!--Hamburger Ends-->
    <div class="container">
        <div class="skills">
            <span class="Name">VS Code</span>
            <div class="percent">
                <div class="progress" style="width: 90%;"></div>
            </div>
            <span class="Value">90%</span>
        </div>
        <div class="skills">
            <span class="Name">Dev C++</span>
            <div class="percent">
                <div class="progress" style="width: 95%;"></div>
            </div>
            <span class="Value">95%</span>
        </div>
        <div class="skills">
            <span class="Name">Android Studio</span>
            <div class="percent">
                <div class="progress" style="width: 60%;"></div>
            </div>
            <span class="Value">60%</span>
        </div>
        <div class="skills">
            <span class="Name">Spyder</span>
            <div class="percent">
                <div class="progress" style="width: 85%;"></div>
            </div>
            <span class="Value">85%</span>
        </div>
        <div class="skills">
            <span class="Name">MATLAB</span>
            <div class="percent">
                <div class="progress" style="width: 65%;"></div>
            </div>
            <span class="Value">65%</span>
        </div>
        <div class="skills">
            <span class="Name">Arduino IDE</span>
            <div class="percent">
                <div class="progress" style="width: 80%;"></div>
            </div>
            <span class="Value">80%</span>
        </div>
        <div class="skills">
            <span class="Name">CodeBlocks</span>
            <div class="percent">
                <div class="progress" style="width: 75%;"></div>
            </div>
            <span class="Value">55%</span>
        </div>
        <div class="skills">
            <span class="Name">Netbeans</span>
            <div class="percent">
                <div class="progress" style="width: 55%;"></div>
            </div>
            <span class="Value">55%</span>
        </div>
        <div class="skills">
            <span class="Name">Eclipse</span>
            <div class="percent">
                <div class="progress" style="width: 50%;"></div>
            </div>
            <span class="Value">50%</span>
        </div>
    </div>
    <script>
        function onClickMenu(){
          document.getElementById("menu").classList.toggle("change");
          document.getElementById("nav").classList.toggle("change");
          document.getElementById("menu-bg").classList.toggle("change-bg");
        }
    </script>
    <script>
        $(document).ready(function(){
            $("#menu").click(function(){
              $(".container").toggle();
            });
        });
    </script>
</body>
</html>