<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Stuff</title>
    <link rel="stylesheet" href="/css/technical.css">
</head>
<body>
    <div class="container">
        <a href="/skills"><button class="btn btn1">Skills</button></a>
        <a href="/projects"><button class="btn btn2">Projects</button></a>
        <a href="/certifications"><button class="btn btn3">Certifications</button></a>
        <a href="/internships"><button class="btn btn4">Internships</button></a>
        <a href="/achievements"><button class="btn btn5">Achievements</button></a>
        <a href="/responsibility"><button class="btn btn6">Position of Responsibility</button></a>
    </div>
</body>
</html>