<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Stuff</title>
    <link rel="stylesheet" href="/css/technical.css">
</head>
<body>
    <div class="container">
        <button class="btn btn1">Skills</button>
        <button class="btn btn2">Projects</button>
        <button class="btn btn3">Certifications</button>
        <button class="btn btn4">Internships</button>
        <button class="btn btn5">Achievements</button>
        <button class="btn btn6">Position of Responsibility</button>
    </div>
</body>
</html>