<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neon Button</title>
    <link rel="stylesheet" href="/css/undergrad.css">
</head>
<body>
    <a id="b1" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SEM I
    </a>
    <a id="b2" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SEM II
    </a>
    <a id="b3" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SEM III
    </a>
    <a id="b4" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SEM IV
    </a>
    <a id="b5" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SEM V
    </a>
    <a id="b6" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SEM VI
    </a>

    <!-- SEM I Modal-->
    <div id="m1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close1">&times;</span>
            <table>
                <tr>
                    <th>Index</th>
                    <th>Courses</th>
                    <th>Credits</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Engineering Drawing</td>
                    <td>5</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Basic Electrical Engineering</td>
                    <td>4</td>
                    <td>B-</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Computer Programming-I</td>
                    <td>4</td>
                    <td>C+</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Engineering Mathematics-I</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Engineering Mechanics-I</td>
                    <td>4</td>
                    <td>A-</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Engineering Physics</td>
                    <td>4</td>
                    <td>A-</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Communication Skills</td>
                    <td>3</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td colspan="2">GPA</td>
                    <td colspan="2">3.29</td>
                </tr>
                <tr>
                    <td colspan="2">CGPA</td>
                    <td colspan="2">3.29</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- SEM II Modal-->
    <div id="m2" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close2">&times;</span>
            <table>
                <tr>
                    <th>Index</th>
                    <th>Courses</th>
                    <th>Credits</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Basic Electronics</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Computer Programming-II</td>
                    <td>4</td>
                    <td>A-</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Engineering Chemistry</td>
                    <td>4</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Engineering Mathematics-II</td>
                    <td>4</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Engineering Mechanics-II</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Workshop Practice</td>
                    <td>2</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Constitution of India</td>
                    <td>0</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td colspan="2">GPA</td>
                    <td colspan="2">3.82</td>
                </tr>
                <tr>
                    <td colspan="2">CGPA</td>
                    <td colspan="2">3.52</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- SEM III Modal-->
    <div id="m3" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close3">&times;</span>
            <table>
                <tr>
                    <th>Index</th>
                    <th>Courses</th>
                    <th>Credits</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Data Structures</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Database Management System</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Digital Logic Design</td>
                    <td>4</td>
                    <td>A-</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Discrete Structures</td>
                    <td>4</td>
                    <td>A-</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Engineering Mathematics-III</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Numerical Techniques</td>
                    <td>3</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Programming Laboratory-I</td>
                    <td>2</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td colspan="2">GPA</td>
                    <td colspan="2">3.79</td>
                </tr>
                <tr>
                    <td colspan="2">CGPA</td>
                    <td colspan="2">3.61</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- SEM IV Modal-->
    <div id="m4" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close4">&times;</span>
            <table>
                <tr>
                    <th>Index</th>
                    <th>Courses</th>
                    <th>Credits</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Analog & Digital Communication</td>
                    <td>4</td>
                    <td>B+</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Computer Networks</td>
                    <td>4</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Engineering Chemistry</td>
                    <td>4</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Engineering Mathematics-II</td>
                    <td>4</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Engineering Mechanics-II</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Workshop Practice</td>
                    <td>2</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Constitution of India</td>
                    <td>0</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td colspan="2">GPA</td>
                    <td colspan="2">3.82</td>
                </tr>
                <tr>
                    <td colspan="2">CGPA</td>
                    <td colspan="2">3.52</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- SEM V Modal-->
    <div id="m5" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close5">&times;</span>
            <table>
                <tr>
                    <th>Index</th>
                    <th>Courses</th>
                    <th>Credits</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Basic Electronics</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Computer Programming-II</td>
                    <td>4</td>
                    <td>A-</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Engineering Chemistry</td>
                    <td>4</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Engineering Mathematics-II</td>
                    <td>4</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Engineering Mechanics-II</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Workshop Practice</td>
                    <td>2</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Constitution of India</td>
                    <td>0</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td colspan="2">GPA</td>
                    <td colspan="2">3.82</td>
                </tr>
                <tr>
                    <td colspan="2">CGPA</td>
                    <td colspan="2">3.52</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- SEM VI Modal-->
    <div id="m6" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close6">&times;</span>
            <table>
                <tr>
                    <th>Index</th>
                    <th>Courses</th>
                    <th>Credits</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Basic Electronics</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Computer Programming-II</td>
                    <td>4</td>
                    <td>A-</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Engineering Chemistry</td>
                    <td>4</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Engineering Mathematics-II</td>
                    <td>4</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Engineering Mechanics-II</td>
                    <td>4</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Workshop Practice</td>
                    <td>2</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Constitution of India</td>
                    <td>0</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td colspan="2">GPA</td>
                    <td colspan="2">3.82</td>
                </tr>
                <tr>
                    <td colspan="2">CGPA</td>
                    <td colspan="2">3.52</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="/js/undergrad.js"></script>
</body>
</html>