
/* import fonts from fonts.css file */ 
@import url(/css//fonts.css);


/* css variables */ 
@import url(/css/partials/_variables.css);

/* import global styling */ 
@import url(/css/partials/_global.css);

/* Splash Screen */
.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}
.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}
.section{
    height: 100vh;
    background: #000;
}
.section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
    mix-blend-mode: color;
    pointer-events: none;
}
video{
    object-fit: cover;
    height: 100vh;
    width: 100%;
}
.anuj{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
}
.anuj span{
    opacity: 0;
    display: inline-block;
    filter: blur(1px);
    animation: animate 1s linear forwards;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}
.anuj span:nth-child(1)
{
    animation-delay: 1.25s;
}
.anuj span:nth-child(2)
{
    animation-delay: 1.5s;
}
.anuj span:nth-child(3)
{
    animation-delay: 2s;
}
.anuj span:nth-child(4)
{
    animation-delay: 2.5s;
}
.anuj span:nth-child(5)
{
    animation-delay: 3s;
}
.anuj span:nth-child(6)
{
    animation-delay: 3.5s;
}
.anuj span:nth-child(7)
{
    animation-delay: 3.75s;
}
.anuj span:nth-child(8)
{
    animation-delay: 4s;
}
.anuj span:nth-child(9)
{
    animation-delay: 4.5s;
}
.anuj span:nth-child(10)
{
    animation-delay: 4.75s;
}

/* Banner Area */ 

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

/*.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}*/

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image  img{
    padding: 7rem 0;
    width: 90rem;
}

/* End Banner Area */ 


/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(/images/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: black;
}

footer.footer-area .social a:hover > i{
    color: #e91e63;
}


/* End Footer */

