.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
h2{
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
}
h2 span{
    transition: 0.5s;
}
h2:hover span:nth-child(1){
    margin-right: 10px;
}
h2:hover span:nth-child(1):after{
    content: "'";
}
h2:hover span:nth-child(2){
    margin-left: 40px;
}
h2:hover span{
    color: #fff;
    text-shadow:    0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 40px #fff,
                    0 0 80px #fff,
                    0 0 120px #fff,
                    0 0 160px #fff;
}
.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}
.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}
body
{
    margin: 0;
    padding: 0;
    background: #00203FFF;
    font-family: verdana;
}
.cardSlider
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 400px;
    background: #fff;
    overflow: hidden;
}
.cardContainer
{
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: #6dd47e;
}
.cardNavbar
{
    position: relative;
    width: 100%;
    height: 50px;
}
.cardNavbar ul
{
    margin: 0;
    padding: 0;
    background: #E94B3CFF;
    display: flex;
    height: 100%;
}
.cardNavbar ul li
{
    list-style: none;
    width: 25%;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #262626;
    text-transform: uppercase;
}
.cardNavbar ul li:hover
{
    background: #3484ff;
    color: #fff;
}
.cardNavbar ul li:last-child
{
    border-right: none;
}
.cardContainer .cardSingle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    padding: 50px;
    background: #ADEFD1FF;
    background-position: center !important;
}
article
{
    background: rgba(255,255,255,.8);
    padding: 20px;
}
.active
{
    z-index: 1;
}
