#menu{
	width: 35px;
	height: 35px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #b81568;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle,#e94498,#b81568);
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 650px;
	height: 670px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}
body{
    margin: 0;
    padding: 0;
    background: #2d2926ff;
}
.container{
    text-align: center;
    margin-top: 25%;
}
.btn{
    border: 1px solid #40c3ff;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    width: 400px;
}
.btn1,.btn2,.btn3{
    color: #40c3ff;
}
.btn4,.btn5,.btn6{
    color: #2d2926ff;
}
.btn1:hover,.btn2:hover,.btn3:hover{
    color: #2d2926ff;
}
.btn4:hover,.btn5:hover,.btn6:hover{
    color: #40c3ff;
}
.btn:before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #40c3ff;
    z-index: -1;
    transition: 0.8s;
}
.btn1:before,.btn3:before,.btn5:before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn2:before,.btn4:before,.btn6:before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btn4:before,.btn5:before,.btn6:before{
    height: 180%;
}
.btn1:hover:before,.btn2:hover:before,.btn3:hover:before{
    height: 180%;
}
.btn4:hover:before,.btn5:hover:before,.btn6:hover:before{
    height: 0%;
}


